fastapi
uvicorn[standard]
torch
transformers
numpy
pandas
librosa
soundfile
webrtcvad
praat-parselmouth
resemblyzer
scikit-learn
scipy
openai-whisper
python-multipart
sentencepiece
tqdm
motor
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
email-validator
pydub
huggingface_hub
setuptools>=70.0.0